.banner-image {
    background-image: url('images/bg3-transformed\ \(1\).jpeg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/* Customize your navbar styling here */
nav {
    transition: background-color 0.3s ease;
    position: fixed;
    width: 100%;
    z-index: 1000; /* Ensure navbar is above other content */
}

.navbar-brand {
    font-size: 1.5rem; /* Example font size */
}

.navbar-nav .nav-link {
    margin: 0 10px;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.8) !important; /* Example background color */
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
}
a{
    text-decoration: none;
}
